{% extends "layout.html" %}
{% block content %}
<h1>Login Page</h1>
{% if error %}
<p> class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <center>
        <form method="POST">
            <div>
                Username:
                <input type=text name=username value="{{
          request.form.username }}">
                <div>
                    <br>
                    Password:
                    <input type=password name=password>
                </div>
            </div>
<p></p><input type=submit value=Login>
</form>

</center>

{% endblock %}