{% extends "layout.html" %}
{% block content %}
    <h1>Form Page</h1>
    <form method= POST, action="{{ url_for('form') }}">
    <dl>
      <dt>Name:
      <dd><input type=text name=name value="{{
          request.form.name }}">
      <dt>Roll No.:
      <dd><input type=text name=roll_no value="{{
          request.form.roll_no }}">
      <dt>Semester:
      <dd><input type=text name=sem value="{{
          request.form.sem }}">
      <dt>Contact Number:
      <dd><input type=text name=mob_no value="{{
          request.form.mob_no }}">
      <dt>Email_id:
      <dd><input type=text name=email value="{{
          request.form.email }}">
        <br>
        <br>
        <p><input type=submit value=Submit>
    </dl>
{% endblock %}